* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: calc(100vh - 38px);
}

.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.Btn {
  appearance: none;
  border: none;
  cursor: pointer;
  padding: 10px 18px;
  border-radius: 2px;
  font-size: inherit;
}

.MapContainer,
.MapContainer > div {
  width: 100% !important;
  height: 100% !important;
}
